$light-gray-links: #80808F;
$light-gray-text: #7E7E7E;
$turquoise: #00CED1;
$white: #ffffff;
$golden-yellow-stars: #FCDC3B;
$navy-blue-reviews-link:#0054A5;
$red-review-error: #A94442;
$fuschia-contact-link: #F20318;
$fuschia-conformation-message: #F43A75;
$games-border-bottom-color: rgba(0,0,0,0.1);
$username-color: rgb(62,138,204);
$main-font: 'Roboto', sans-serif;
$contact-font: 'Shadows Into Light', cursive;
$break-small: 768px;
$top-game-height: 250px;
$top-game-width: 175px;
